.signupComp{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.signupCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.signupComp h2{
  color:chocolate;
}
.loginCard{
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ant-card-head{
  background-color: #1890ff;
}